<div>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#!/">
    		<img src="./images/homeicon.png" alt="Logo" style="width:50px;">
  	   </a>
     	  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#!/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#!/'>Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#!/visit'>Visit</a>
        </li>
       </ul>
      
      <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search with Patient ID" aria-label="Search" ng-model="id" />
        <button class="btn btn-outline-success my-2 my-sm-0" ng-click="getVisitsByID()" >Search</button>
      </form>
    </div>
  </nav>
 </div>
 
<div class="bs-container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">Patient Visit List</button>									
                </h2>
            </div>
         <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
         <div class="card-body">
                
  		 <div class="table-responsive-xl">
  
          <table class="table">
            <thead>
            <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Visit Date </th>
                <th scope="col">Purpose</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in visitData">
                <td>{{ x.patID }}</td>
                <td>{{ x.patFirstName }}</td>
                <td>{{ x.patLastName }}</td>
                <td>{{ x.visitDate}}</td>
                <td>{{ x.visitPurpose }}</td>
                <td><a ng-click="editVisit(x)" class="btn"><img src="./images/edit.png" alt="Edit" style="width:20px;" /></a> | <a ng-click="removeVisit(x)" class="btn"><img src="./images/delete.png" alt="Edit" style="width:20px;" /></a></td>
            </tr>
 			</tbody>
        </table>
 	</div>
 </div>
 </div>
 </div>
 </div>
 
      <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">Add/Edit Visit</button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
	 
        <form ng-submit="createVisit()" name="visCtrl">
        <div class="table-responsive-xl">
            <table class="table">
            <tbody>
               <tr >
                    <td>Patient ID</td>
                    <td><input type="text" ng-model="visCtrl.patID" size="60" ng-disabled="editFlag" /></td>
                </tr>
                <tr ng-show="editFlag">
                    <td>First Name</td>
                    <td><input type="text" ng-model="visCtrl.patFirstName" size="60" ng-show="editFlag"/></td>
                </tr>
                <tr ng-show="editFlag">
                    <td>Last Name</td>
                    <td><input type="text" ng-model="visCtrl.patLastName" size="60" /></td>
                </tr>
                <tr>
                <td>Visit Date</td>
                <td><input type="date" id="datepicker1"   ng-model="visCtrl.visitDate" width="276" /></td>
                </tr>
                </tbody>
            </table>
            
            
           <table class="table">
               <thead>
         	   <tr>
	                <th scope="col">Tab/Drug Name</th>
	                <th scope="col">Morning Dose</th>
	                <th scope="col">Afternoon Dose</th>
	                <th scope="col">Night Dose </th>
	                <th scope="col">Action </th>
	            </tr>
            	</thead>
          <tbody ng-repeat="m in presList">
                <tr>
                    <td>{{m.tabName}}</td>
                    <td>{{m.mQty}}</td>
                    <td>{{m.aQty}}</td>
                    <td>{{m.nQty}}</td>
                    <td><input type="button" ng-click="Remove($index)" value="Remove" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="text" ng-model="visCtrl.tabName" /></td>
                    <td><input type="number" ng-model="visCtrl.mQty" /></td>
                    <td><input type="number" ng-model="visCtrl.aQty" /></td>
                    <td><input type="number" ng-model="visCtrl.nQty" /></td>
                    <td><input type="button" ng-click="Add()" value="Add" /></td>
                </tr>
            </tfoot>
        </table>
            
            
            <div>
                 <span><input class="btn btn-primary" type="reset"  ng-click="resetform()" value="Reset"></span>
                 <span><input class="btn btn-primary" type="submit" value="Submit"></span>
            </div>
         
                
    	</div>
    	</form>
           </div>
            </div>
        </div>
    </div>

 
 
 
 